<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Institute Signup Successful!</h2>
    
    <div class="container">
        <p>Thank you for Institute Signup. Your details have been submitted successfully.</p>
        <button><a href="institute-login.html">Institute Login </a></button>
    </div>
</body>
</html>
