{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Parent Login</h1>
    </header>
    
    <main>
        <div class="login-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
            </form>

            <div class="links">
                <a href="{% url 'password_reset' %}">Forgot password?</a> <br><br>
                <a href="{% url 'change_password'%}">change password</a><br><br>
                <a href="{% url 'parent_signup' %}">Create a new account</a>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
